<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">
            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h3>友鏈</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li><a th:href="@{${favoriteLink.linkUrl}}"
                                   th:text="${favoriteLink.linkName}">友鏈</a>
                                -
                                <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h3>推薦網站</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}">推薦網站</a>
                                -
                                <th:block th:text="${recommendLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(personalLinks)}">
                <div class="title">
                    <h3>個人鏈接</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="personalLink : ${personalLinks}">
                            <li><a th:href="@{${personalLink.linkUrl}}"
                                   th:text="${personalLink.linkName}">個人鏈接</a>
                                -
                                <th:block th:text="${personalLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <h2 id="個人鏈接">鏈接須知</h2>
            <p>歡迎互換友鏈 ^_^ 不過請確定貴站可以正常運營.</p>
            <p>我的郵箱是
                <th:block th:text="${configurations.get('yourEmail')}"></th:block>
                , 格式要求如下:
            </p>
            <ul>
                <li>網站名稱：my-blog</li>
                <li>網站鏈接：www.github.com/vsae/my-blog</li>
                <li>網站描述：my-blog</li>
            </ul>

            <p>請保證自己的鏈接長期有效,不然可能會被清理.</p>

        </main>
    </div>
</div>
<!-- 引入頁腳footer-fragment -->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
</html>